body{
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1;
    background-image: linear-gradient(rgb(4, 255, 0),rgb(119, 228, 124));
}
.like {
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 500;
    margin-left: 330px;
    transition: transform .1s ease-in;
    cursor: pointer;
}
.levimg{
    justify-content: center;
    display:inline;
    position:relative;
    object-fit:fill;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 49%;
    height: auto;
  }
  .liketext {
    scale: 1.6;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10000;
    margin-left: 343px;
    margin-top: 15px;
    transition: transform, opacity .1s ease-in;
    font-style: oblique;
    pointer-events: none;
}

.like:hover ~ .liketext {
    visibility: visible;
    opacity: 1;
} 

#likeCounter1{
    font-size: 40px;
    float: right;
    margin-right: 90px;
}

#likeCounter2{
    font-size: 40px;
    float: right;
    margin-right: 90px;
}

#likeCounter3{
    font-size: 40px;
    float: right;
    margin-right: 90px;
}
